h1 {
    color: whitesmoke; text-align: center;
}


h2 {
    color: whitesmoke; text-align: center;
}

h3 {
    color: whitesmoke; text-align: center;
}



div{
    color: white;
    
}

body {
    background-color: linear-gradient(to left right, rgba(0,0,0, 0.8), rgba(0,255,0,0.8));
    padding: 200px; font-size: 20px; line-height:1.4; padding-top: 0;

}

a {
    color: yellow;
}
