h1 {
    color: whitesmoke; text-align: center;
}


h2 {
    color: whitesmoke; text-align: center;
}

h3 {
    color: whitesmoke; text-align: center;
}



div{
    color: white;
    
}

body {
    background-color: black; padding: 200px; font-size: 20px; line-height:1.4; padding-top: 0;

}

a {
    color: yellow;
}